body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: Arial;
}
.title{
  font-size: 300%;
  font-weight: bold;
}
.move-icon {
  height: 50px;
}
.move-button{
  background-color: rgb(20, 20, 20);
  box-shadow: 5px;
  width: 28%;
  height: 110px;
  border-radius: 60px;
  margin-right: 3%;
  cursor: pointer;
}
.result {
  font-size: 150%;
}
.score {
  font-size: 150%;
}
.reset-button {
  background-color: white;
  border: solid white;
  height: 35px;
  width: 30%;
  border-radius: 50px;
}